@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;

}

.app{
    padding: 20px;
    height: 500px;
    width: 300px;
    background-color: rgb(102, 178, 245);
    border-radius: 10px;
    border: 7px solid rgb(0, 153, 0);
    overflow: hidden;
   
}

#addNew{
    background-color: rgb(113, 255, 113);
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.fa-plus{
    background-color: rgb(0, 185, 0);
    padding: 3px;
    border-radius: 2px;
}

h4{
  text-align: center;
 
 margin-bottom: 10px;   
}

#tasks {
    overflow-y: auto;
    max-height: 380px;
}

#tasks::-webkit-scrollbar{
    display: none;
}


#tasks > div{
    background-color: rgb(113, 255, 113);
    padding: 10px 15px;
    margin-bottom: 20px;
    display: flex; 
    flex-direction: column;
    gap: 10px;
   
 
    
    
}

#butts{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
    
    /* background-color: rgb(243, 84, 111); */
    align-items: center;
    justify-content: center;
    gap: 20px;
}

i{
    cursor: pointer;
}


.date{
    font-size: 12px;
    color: gray;
}

.taskname{
    font-weight: bold;
}


#taskModal{
    background-color: rgb(228, 189, 196);
    border: 4px solid black;
    border-radius: 4px;
    height: auto;
    width: 400px;
    display: none;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
   
    
}

#firstline{
    display: flex;
   
    justify-content: space-between ;
    align-items: center;
    
}

#secondline{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.modalButts{
    display: flex;
justify-content: flex-end;
gap: 10px;    
}

#secondline input{
    padding: 10px 15px;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid rgb(161, 161, 161);
}

#TextInput{
    padding: 10px 15px;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid rgb(161, 161, 161);
    height: 150px;
}

.modalButts button{
    padding: 5px 6px;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: rgb(0, 204, 255);
}

#firstline .close{

    font-size: 30px;
    cursor: pointer;
}

button{
cursor: pointer;
}


#msg{
    color: red;
}