html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url("../assets/profile.jpeg"); */
  background: linear-gradient(180deg, rgb(122, 235, 225), black);
  background-repeat: no-repeat;
  background-position: center;
  /* min-height: 100vh; */
  background-size: cover;
  /* background-attachment: fixed; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  font-family: monospace !important;
  font-size: 90px !important;
  font-weight: bold;
  text-shadow: 3px 3px 5px black;
  color: white;
}

.col {
  backdrop-filter: blur(500px);
}
