*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ,sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#157876,#4e8754);
    padding: 10px ;
}

.todo-app{
   
    width: 100%;
    max-width: 540px;
    padding: 40px 30px 70px 30px;
    margin: 100px auto 20px;
    background-color: white;
    border-radius: 10px;
}

.heading{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
    
}

.heading h2 {
    color:darkslateblue;

}
.heading img {
    width: 30px;
    height: 30px;
}

.createTasks{
    display: flex;
    background: #edeef0;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    margin-bottom: 25px;
}

.createTasks input {
    flex : 1;
    padding: 15px 20px;
    border: none;
    outline: none;
    background: transparent;
    

}

.createTasks button{
    background-color: orangered;
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}


#list-container{
    display: flex;
   
    

    flex-direction: column;
}


ul li {
    font-size: 20px;
    list-style: none;
    user-select: none;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
    
    
}

ul li::before{
    content : '';
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    
    /* border: 1px solid rgb(143, 143, 143); */
    left: 9px;
    top: 13px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
   
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}

ul li span:hover{
    background: #edeef0;
}